<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arashdalir.calendaralarm">

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".CalendarApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AlarmListActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:parentActivityName=".AlarmListActivity"
            android:launchMode="singleInstance"
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:parentActivityName=".SettingsActivity"
            android:name=".PermissionCheckActivity"
            android:launchMode="singleInstance"/>
        <activity
            android:parentActivityName=".SettingsActivity"
            android:name=".CalendarSelectionActivity"
            android:launchMode="singleInstance"/>
        <activity
            android:name=".SnoozeActivity"
            android:label="@string/title_activity_snooze"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".AutoStartReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".CalendarChangeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PROVIDER_CHANGED" />

                <data android:scheme="content" />
                <data android:host="com.android.calendar" />
            </intent-filter>
        </receiver>

        <service
            android:name=".AlarmManagerService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

    </application>

</manifest>